//
// Images
// --------------------------------------------------


.logo {
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto; 
    z-index: 1000;
    display: block;
    padding: 50px 0 0;
}

.hero-text {
    width: 100%; 
    max-width: 927px;
    margin: 100px auto 50px; 
    display: block;
    padding: 0 15px;
}